
NEXT_PUBLIC_SUPABASE_URL=https://zalqqizdcqrzldfqfqip.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphbHFxaXpkY3FyemxkZnFmcWlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI0OTkyMTYsImV4cCI6MjA3ODA3NTIxNn0.lbEx64TOropUVuZtgqQNI5k7yG8-bZPotLfiM_ho6PY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphbHFxaXpkY3FyemxkZnFmcWlwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjQ5OTIxNiwiZXhwIjoyMDc4MDc1MjE2fQ.QO0OMZJGmDA4uxSrb04UAzDlHdg0ZPChpbwMQEwoFbM
NEXT_PUBLIC_APP_URL=https://main.lshwholesale.com
APP_URL=https://main.lshwholesale.com
ADMIN_JWT_SECRET=your-secure-jwt-secret-min-32-chars
CRON_SECRET=your-cron-secret-here
RESEND_API_KEY=re_hVTUD2Kc_3JpDScrmdMUizXTTnxwkwupB
EMAIL_FROM=noreply@main.lshwholesale.com
ADMIN_EMAIL=admin@main.lshwholesale.com
CLOUDINARY_URL=cloudinary://442777697991838:gXjLJEwHZuwlFB2_VgNvB-FOb4s@dtoqyhhrc
